Diagnostics:
  Suppress: target_unsupported_type

CompileFlags:
  Remove: [
    -fstrict-volatile-bitfields,
    -fno-tree-loop-distribute-patterns
  ]
  Add: [
    -D__banan_os__,
    -D__arch__=x86_64,
    -D__x86_64__
  ]
