KERNEL_ARCH_CFLAGS=-mcmodel=large -mno-red-zone -mno-mmx
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=-z max-page-size=4096
KERNEL_ARCH_LIBS=
 
ELF_FORMAT=elf64-x86-64

KERNEL_ARCH_OBJS=		\
$(ARCHDIR)/boot.o		\
$(ARCHDIR)/IDT.o		\
$(ARCHDIR)/interrupts.o	\
$(ARCHDIR)/MMU.o		\
$(ARCHDIR)/SpinLock.o	\
$(ARCHDIR)/Thread.o		\
 